.header{
    
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    margin-bottom: 20px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.searchBar{
     width: 40em;
    max-width: 100%;
}

.navbar-nav {
  gap: 1.5rem;
}