.productDetails{
    display: flex;
    flex-direction: row;
}

.product{
    flex:1;
    position: sticky;
    top: 4em;
    align-self: flex-start;
    max-height: 100vh;
}

.details{
    flex: 1;;
    display: flex;
    flex-direction: column;
    padding-left: 5em;
    max-width: 60vw;
}

.product img{
    height: 70vh;
    object-fit: contain;
    width:20em;
}

.buttons{

    padding: 20px;
    
    display: flex;
    gap: 40px;
}
.productContainer{
    display: flex;
    flex-direction: row;
    gap: 15px;
    overflow-x: scroll;
    max-height: 400px;
    padding: 10px 0;
}

.productContainer img{
    width: 150px;
    height: auto;
}
.productContainer h5{
    font-size: 0.75em;
}

.title{
    padding: 10px;
    height: fit-content;
    border: 2px black groove;
}

